package components

templ Nav() {
	<div class="text-primary text-lg w-full max-w-[680px] mb-6 font-">
		<ul class="flex flex-wrap items-baseline gap-4 leading-[1.475]">
			<li class="font-bold hover:bg-primary hover:text-white mr-4 bg-primary text-white"><a href="#">filipkrw</a></li>
		</ul>
	</div>
}
